<a href="https://colab.research.google.com/github/PosgradoMNA/actividades-de-aprendizaje-JuanCarlos_GarciaRendonMartinez/blob/main/Semana%203%20-%20Actividad%201.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Nombre**: Juan Carlos Garcia Rendon Martinez
# **Matrícula**: A01793708
# **Materia:** Ciencia y Analitica de Datos
# **Profesor:** Bernardo Charles Canales
# **Fecha:** 09/30/2022
__________________________________________________
# ***Semana 3 - Actividad 1***
# *Parte 1: Fundamentos de bases de datos*

**Fundamentos de bases de datos y para ciencia de datos.  **
Una base de datos es el repositorio donde almacenamos datos, generalmente en forma de tablas, es decir de forma ordenada y estructurada donde cada registro contiene una lista de propiedades/datos (columnas) que lo describen. Por ejemplo podemos almacenar pagos, y por cada pago almacenar la fecha, hora, importe, folio, referencias, forma de pago, etc. Para poder acceder y recuperar esta información se usan Administradores de Base de Datos (DBMS) que nos permiten realizar peticiones y algunas operaciones a la Base de Datos y recuperar la información solicitada. Es importante para la ciencia de datos el poder manipular estos sistemas ya que el origen del a información constituye la base para generar modelos.

**Fundamentos de almacenes de datos (Data Warehouse) para ciencia de datos.**
Un Data Warehouse es una ampliación al concepto de Base de Datos, ya que es un lugar/almacen donde recopilamos mucha información, aquí vaciamos por ejemplo todas nuestras bases de datos de los diferentes sistemas y la idea es, además de tener todo centralizado, que podamos analizarla en conjunto, correlacionarla, generar reportes y modelos de ciencia de datos. Es decir una base de datos normal tiene el proposito fundamental de registrar información de transacciones, mientras que el análisis a profundidad lo podemos hacer a partir de un Data Warehouse

# *Parte 2: Selección y limpieza de los Datos en Python*

In [25]:
#Cargar librerias
import pandas as pd
import numpy as np

#Documentar el origen de los datos y cargar el archivo en una variable nueva
url = "https://raw.githubusercontent.com/PosgradoMNA/Actividades_Aprendizaje-/main/default%20of%20credit%20card%20clients.csv"
df = pd.read_csv(url)
df.head()
df.to_csv('data.csv')   #Guardar los datos en un archivo
df.isnull().sum()
df.isnull().sum().sum()     # Saber cuantos nulos hay nulos en la data, a lo más hay 196 valores faltantes de 30,000 datos
df.shape
#196/30000*100               #De eliminar máximo 196 registros, representan un 0.65% de la muestra, por lo que la pérdida no es significativa


df.dropna(inplace = True)     ##Se eliminarán todas las filas con valores faltantes
df.isnull().sum()
df.isnull().sum().sum()     # Volvemos a validar, y ya no hay valores faltantes en ninguna columna del Dataframe
df

,ID,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,1,20000,2.0,2.0,1.0,24.0,2.0,2.0,-1.0,-1.0,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1.0
1,2,120000,2.0,2.0,2.0,26.0,-1.0,2.0,0.0,0.0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1.0
2,3,90000,2.0,2.0,2.0,34.0,0.0,0.0,0.0,0.0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0.0
3,4,50000,2.0,2.0,1.0,37.0,0.0,0.0,0.0,0.0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0.0
4,5,50000,1.0,2.0,1.0,57.0,-1.0,0.0,-1.0,0.0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1.0,3.0,1.0,39.0,0.0,0.0,0.0,0.0,...,88004.0,31237.0,15980.0,8500.0,20000.0,5003.0,3047.0,5000.0,1000.0,0.0
29996,29997,150000,1.0,3.0,2.0,43.0,-1.0,-1.0,-1.0,-1.0,...,8979.0,5190.0,0.0,1837.0,3526.0,8998.0,129.0,0.0,0.0,0.0
29997,29998,30000,1.0,2.0,2.0,37.0,4.0,3.0,2.0,-1.0,...,20878.0,20582.0,19357.0,0.0,0.0,22000.0,4200.0,2000.0,3100.0,1.0
29998,29999,80000,1.0,3.0,1.0,41.0,1.0,-1.0,0.0,0.0,...,52774.0,11855.0,48944.0,85900.0,3409.0,1178.0,1926.0,52964.0,1804.0,1.0
29999,30000,50000,1.0,2.0,1.0,46.0,0.0,0.0,0.0,0.0,...,36535.0,32428.0,15313.0,2078.0,1800.0,1430.0,1000.0,1000.0,1000.0,1.0

# *Parte 3: Preparación de los datos*

**P: ¿Qué datos considero mas importantes? ¿Por qué?**
R: No se revisaron las relaciones de los factores con la variable dependiente, para poder hacer un modelo de regresión el dato más importante es tener la variable independiente etiquetada con el resultado sobre si se otorga el crédito o no

**P: ¿Se eliminaron o reemplazaron datos nulos? ¿Qué se hizo y por qué?**
R: Se eliminaron las filas con datos nulos, tras revisar cuantos representaban de la muestra, a lo más eran 196 registros los perdidos los que representan un valor muy bajo de la muestra (0.65%). Al final se eliminaron solamente 42 registros ya que en estas habían varias columnas con datos perdidos

**P: ¿Es necesario ordenar los datos para el análisis? Sí / No / ¿Por qué?**
R: No, el orden de los datos (filas) en este caso no afecta el análisis ya que cada registro es independiente del otro. Pero es bueno considerar que en las columnas (features) X6-X23 se hace mención a los últimos 6 meses de pagos. Esto es información relevante para poder explicar los resultados del modelo.

**P: ¿Existen problemas de formato que deban solucionar antes del proceso de modelado? Sí / No / Por qué.**
No veo errores de formato a solucionar, pero sí habría que validar con negocio y considerar para el modelo si el tratamiento a las variables categóricas de Genero, Educación y Estado Marital es correcto. También habría que probar y validar si la escala para las variables X6-x11 es conveniente ya que también son datos categoricos

**P: ¿Qué ajustes se realizaron en el proceso de limpieza de datos (agregar, integrar, eliminar, modificar registros (filas), cambiar atributos (columnas)?**
R:Solamente se identificaron los valores faltantes y se eliminaron de la data, por lo comentado anteriormente habría que validar con negocio previo a tomar más decisiones sobre el conjunto total de datos